

$break-point1: 1230px;
$break-point2: 1150px;
$break-point3: 1070px;
$break-point4: 1020px;
$break-point5: 980px;
$break-point6: 965px;
$break-point7: 886px;
$break-point8: 840px;
$break-point9: 760px;
$break-point10: 680px;
$break-point11: 620px;
$break-point12: 600px;
$break-point13: 550px;
$break-point14: 450px;
$break-point15: 400px;
$break-point16: 370px;